
@{
    ViewData["Title"] = "Admin";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@{
    var users = new[]
        {
        new {Name="Rahaf", Age=26, Email="rahaf@gmail.com"},
        new {Name="Rudaina", Age=23, Email="rudaina@gmail.com"},
        new {Name="Sars", Age=25, Email="sara@gmail.com"}
    };
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in users){
            <tr>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

