html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.name{
    color:brown;
    font-weight: bold;
}

.content {
    margin-top: 15%;
}



.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    padding: 20px;
    position: fixed;
}

    .sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

        .sidebar a:hover {
            background: #495057;
        }

.content {
    margin-left: 260px;
    padding: 20px;
    width: auto;
}