@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="/Home/Privacy">URL</a>
<a href="@Url.Action("Privacy","Home")">Dynamic URL</a>
