<!DOCTYPE html>
<html>
<head>
    <title>Layout 1</title>
</head>
<body>
    <h2>This is Layout 1</h2>
    @RenderBody()

    @RenderSection("Paragraph", required: false) <!-- This section is optional -->

</body>
</html>
