
@{
    ViewData["Title"] = "AddProduct";
}
    @model Task2402.Models.Product

<div class="container mt-5">
    <h2>Add a Product</h2>
    <form asp-action="AddProduct" method="post">
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName" placeholder="Enter product name" asp-for="Name" required>
        </div>

        <div class="mb-3">
            <label for="productDescription" class="form-label">Product Description</label>
            <textarea class="form-control" id="productDescription" rows="3" placeholder="Enter product description" asp-for="Description" required></textarea>
        </div>

        <div class="mb-3">
            <label for="productPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="productPrice" placeholder="Enter price" asp-for="Price" required>
        </div>

        <div class="mb-3">
            <label for="productImage" class="form-label">Product Image URL</label>
            <input type="url" class="form-control" id="productImage" placeholder="Enter image URL" asp-for="Image" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

