@{
    ViewData["Title"] = "Privacy Policy";
}
    @model IEnumerable<Task2302.Models.User>

<form asp-action="Privacy" method="post">

    <div class="form-group">
        <label for="UserId">Email</label>
        <input type="number" class="form-control" name="UserId" />
    </div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" name="FirstName" />
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" name="LastName" />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" />
    </div>

    <button type="submit" class="btn btn-primary">Add User</button>
</form>
